<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body>
    <nav>
        <h3>PuckTracker</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/enterInfo">Roster</a></li>
          <li><a href="/gameFlow">Gameflow</a></li>
          <li><a href="/FAQ">FAQ</a></li>
        </ul>
    </nav>
    <section class="faqContainer">
        <section class="faqSectionOne">
            <h3>Hello,<br> how can we help?</h3>
        </section>
    </section>
    <section class="mainFaqContainer">
        <section class="innerFaqContainer">
            <h2>Frequently Asked Questions</h2>
            
            <button class="accordion">What is PuckTracker?</button>
            <div class="panel">
              <p>PuckTracker makes it simple to log a game and provide updates for loved ones who cannot attend the game. Life happens and sometimes you have work, an important meeting, an emergency, etc. and cannot be at the game live. Instead of waiting to get home to hear about the game, it is as simple as checking the results on PuckTracker!</p>
            </div>

            <button class="accordion">How do I set my roster?</button>
            <div class="panel">
              <p>Simply visit our "roster" page in the navigation bar, or click the button on our home page.</p>
            </div>

            <button class="accordion">What do all of these abbreviations stand for? GP? G? A? P? PIM? PPG? PPP?</button>
            <div class="panel">
              <ul class="abbvUl">
                <li class="abbv">GP: Games Played</li>
                <li class="abbv">G: Goals</li>
                <li class="abbv">A: Assists</li>
                <li class="abbv">P: Points</li>
                <li class="abbv">PIM: Penalty Infraction Minutes</li>
                <li class="abbv">PPG: Power Play Goals</li>
                <li class="abbv">PPP: Power Play Points</li>
              </ul>
            </div>
            
            <button class="accordion">How do I add a player to my roster?</button>
            <div class="panel">
              <p>Once on the roster page, insert the name of the player and click the enter button.</p>
            </div>
            
            <button class="accordion">How do I remove a player from my roster?</button>
            <div class="panel">
              <p>To remove a player you click the trash can icon to the left of their name. This will completely remove them from the roster. Be advised, this also erases their stats.</p>
            </div>

            <button class="accordion">How come I cannot manually adjust the total points for players on my roster?</button>
            <div class="panel">
              <p>We do that for you! We automatically calculate the total points based upon a players total goals combined with their total assists.</p>
            </div>

            <button class="accordion">Additional question...</button>
            <div class="panel">
              <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">Additional question...</button>
            <div class="panel">
              <p>Lorem ipsum...</p>
            </div>

        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>