<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body>
    <nav>
        <h3>PuckTracker</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/enterInfo">Roster</a></li>
            <li><a href="/gameFlow">Gameflow</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
    </nav>
    <section class="headerContainer">
        <header >
            <h1>GAMEFLOW</h1>
            <p>Never miss a moment with PuckTracker's GAMEFLOW. Available all season long so you get around-the-clock coverage of youth hockey.</p>
        </header>
        <section class="rosterContainer">
            <header>
                <h3>Capture all of the action during a game, including shots, goals, assists, missed/blocked shots - the power is in your hands!</h3>
                <p>Check out our FAQ for clarification</p>
            </header>

            <section>
                <section class="homeTeam">
                    <h2>Home Team</h2>
                    <form action="/homeTeam" method="POST">
                        <input type="text" placeholder="Insert Home Team" name="homeTeam">
                        <input value="Enter" type="submit">
                    </form>
                    <h3>
                        <ul class="firstTeam">
                            <% for(var i = 0; i < name.length; i++) {%>
                              <li class="quote">
                                <span><%= name[i].homeTeam %></span>
                                <span class="deleteTeam1"><img class="trash" src="photos/trash.png"></span>
                              </li>
                            <% } %>
                          </ul>
                    </h3>
                </section>

                <section class="awayTeam">
                    <h2>Away Team</h2>
                    <form action="/awayTeam" method="POST">
                        <input type="text" placeholder="Insert Away Team" name="awayTeam">
                        <input value="Enter" type="submit">
                    </form>
                    <h3>
                        <ul class="secondTeam">
                            <% for(var i = 0; i < name2.length; i++) {%>
                              <li class="quote">
                                <span><%= name2[i].awayTeam %></span>
                                <span class="deleteTeam2"><img class="trash" src="photos/trash.png"></span>
                              </li>
                            <% } %>
                          </ul>
                    </h3>
                </section>

            </section>

            <section class="tableContainer">
                <form action="/addPlayer" method="POST">
                    <textarea type="text" placeholder="Enter the play" name="gameflowInfo"></textarea><br>
                    <input value="Enter" type="submit">
                </form>
            </section>
        </section>
        <section class="gameflowButton">
            <button onclick="location.href = '/enterInfo'"">HEAD TO ROSTER</button>
        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>
    <script src="js/main.js"></script>
</body>
</html>