<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body>
    <header class="puckTrackerMainPage">
        <h1 class="main-title">PuckTracker</h1>
        <p>Puck Tracker is the easy to use tracking system for youth hockey games. Boxscores, team stats, and gameflow is no longer limited to professional sports. Is a parent out of town? Provide them with updates on the game!</p>
    </header>

    <section class="middle-container">
        <section class="orange">
            <h3 class="middle-header">ALL THE STATS</h3>
            <p>With the power of just your fingertips, you can track goals, assists, penalties, and faceoffs - can’t make it to the game? Never miss out on the action!</p>
        </section>
        <section class="orange">
            <h3 class="middle-header">OUR MISSION</h3>
            <p>We all live busy lives, but we still want to be there for our loved ones. Our mission is to give you a taste of the game; you’ll never miss an update.</p>
        </section>
        <section class="orange">
            <h3 class="middle-header">BUT HOW?</h3>
            <p>Provide the play-by-play yourself to share with the family. You input the data and we will take care of the rest! Yes, it really is as simple as that!</p>
        </section>
    </section>

    <footer>
        <h2>READY TO GET STARTED?</h2>
        <p>If you are ready to get started, simply click the button below. You can immediately begin logging the game stats and all of the important information you wouldn’t want to miss. If you are not sure how to get started, feel free to visit our “HOW TO” page where we provide you with all of the information you’ll need!</p>
        <button><a class ="mainPageButton" href="/enterInfo">SET MY ROSTER</a></button>
    </footer>
</body>
</html>