/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.trackerTitle{
    text-align: center;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    height: 75px;
    background-color: #696E74;
    color: white;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul{
    padding: 0;
    display:inline;
}

li{
    display: inline;
}

.deleteTeam1, .deleteTeam2{
    cursor: pointer;
}

/* Main Page */

.puckTrackerMainPage{
    background-image: url("/photos/hockeyheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: black;
    background-position-y: -100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.main-title{
    font-size: 94px;
    text-shadow: 2px 2px #EAF4F8;
    width: 50%;
    padding-right: 5%;
    font-family: 'Titillium Web', sans-serif;
}

.main-title + p {
    width: 50%;
    padding-bottom: 8%;
    padding-right: 5%;
    font-family: 'Joan', serif;
}

.middle-container{
    height: 300px;
    background-color: #EAF4F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-header{
    text-decoration: underline;
    font-size: 30px;
    padding-top: 3%;
    text-align: center;
    font-family: 'Joan', serif;
}

.middle-header + p{
    text-align: center;
    font-family: 'Joan', serif;
    padding: 5%;
}

.orange{
    width: 30%;
    height: 50%; 
    background-color: #DA6B46;
    border-radius: 20px;
}

footer{
    display: flex;
    height: 300px;
    flex-direction: column;
    background-color: #696E74;
    align-items: center;
}

footer > h2, footer > h2 + p{
    text-align: center;
    color: white;
}

footer > h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    padding-top: 5%;
}

footer > h2 + p {
    font-size: 15px;
    font-family: 'Joan', serif;
    width: 70%;
    padding: 9px 0px;
}

footer > button{
    width: 25%;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

footer > button:hover{
    background-color: #DA6B46;
    color: rgb(146, 140, 140);
}

a{
    text-decoration: none;
    color: black;
}

/* Split Section */

.splitContainer{
    display:flex;
}

.gameflowContainer{
    border: 1px solid black;
    width: 50%;
    height: 300px;
    font-family: 'Joan', serif;
    background-color: #D9D9D9;
    text-align: center;
}

.pickTeams{
    display:flex;
    justify-content: space-between;
}

.trash{
    width: 5%;
    cursor: pointer;
}

.homeTeam, .awayTeam{
    padding: 15px;
    height: 75px;
}

.opponents{
    border: 2px solid pink;
}

/* Table Styles and new styles for page */

table {
    border-collapse: separate;
    border-spacing: 0;
    border:1px solid black;
    margin: 0 auto;
}

th,
td {
  padding: 10px 15px;
}

thead {
  background: #696E74;
  color: #fff;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
    /* white-space: nowrap; */
}

tbody tr:nth-child(even) {
    background: #d4f3f0;

}

tbody tr:nth-child(odd) {
    background: white;

}

.minus, .add{
    cursor: pointer;
}

.gameflow{
    margin-top: 20px;
    width: 40%;
}

/* New Styles */

nav{
    height: 25px;
    font-family: 'Joan', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    background: #30d5c8;
    border: 2px solid black;
    color: black;
}

nav > h3{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

nav > h3 + ul > li {
    margin: 10px;
}

.headerContainer{
    height: 100vh;
    background-color: #a4508b;
    background-image: linear-gradient(to bottom, #a4508b 0%, #5f0a87 74%);
    
}

.headerContainer > header > h1{
    padding-top: 5%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-align: center;
}

.headerContainer > header > h1 + p{
    padding-top: 2%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
}

.rosterContainer{
    border-radius: 5px;
    background-color: #EAF4F8;
    margin: 2% 5%;
    padding-bottom: 5%;
}

.rosterContainer > header{
    padding-top: 1%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.tableContainer > form{
    text-align: center;
    margin: 1% 1%;
}


/* Button */
.gameflowButton > button{
  background: black;
  border: 1px solid #30d5c8;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #30d5c8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.gameflowButton > button:hover{
    background: #30d5c8;
    color: black;
}

.gameflowButton{
    text-align: center;
}

/* Input Button */

input[type=submit]{
    background-color: #30d5c8;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #a0acab;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}

input[type=text]{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    text-align: center;
}

/* FAQ */


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .faqSectionOne{
    background-image: linear-gradient(to bottom, #a4508b 0%, #5f0a87 74%);
    height: 200px;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.faqSectionOne > h3{
    animation: fadeIn 3s
}

.mainFaqContainer{
    background-color: #30d5c8;
    height: 100vh;
    padding: 1%;
}

.innerFaqContainer{
    background-color: #dce2e2;
    border-radius: 5px;
    height: 100vh;
    border: 1px solid black;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.innerFaqContainer > h2{
    padding: 2%;
}

/* Accordion FAQ section */

.accordion {
    background-color: black;
    color: #30d5c8;
    border: 1px solid #30d5c8;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.5s;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.active, .accordion:hover {
    background-color: rgb(90, 89, 89);
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel > p {
    font-size: 1.5rem;
    font-family: 'Joan', serif;
    padding: 2%;
}

.abbv{
    display: block;
    font-family: 'Joan', serif;
    font-size: 1.5rem;
}

.abbvUl{
    padding: 2%;
}

.accordion:after {
    content: '+';
    font-size: 13px;
    color: #30d5c8;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-";
    font-size: 13px;
    color: #30d5c8;
  }